<ul class="list-none space-y-4 text-lg">
  <li class="font-bold text-3xl"><%= @user.name %></li>

  <li>
    <span class="font-semibold">入室した時間:</span>
    <span class="font-semibold"><%= @user.entered_at.blank? ? "未入室" : @entered_at %></span>
  </li>

  <li>
    <span class="font-semibold">退室した時間:</span>
    <span class="font-semibold"><%= @user.exited_at.blank? ? "未退室" : @exited_at %></span>
  </li>

  <% if @user.entered? %>
    <li class="text-green-500 font-semibold">入室中</li>
  <% elsif @user.exited? %>
    <li class="text-red-500 font-semibold">退室済み</li>
  <% end %>
</ul>

<div class="mt-6 space-y-4">
  <%= link_to '科展示についてはこちら', root_path, class: "btn btn-info w-full" %>
  <a href="https://forms.gle/9qojTzwYypzBPX4i8" class="btn btn-primary w-full">
    感想フォームの入力はこちら
  </a>
  <%= link_to 'ゲームプレイ用QRコード', users_user_qr_path(@user), class: "btn btn-accent w-full" %>
  <% if @user.entered? %>
    <%= link_to '退出用QRコード', users_exit_path, class: "btn btn-secondary w-full" %>
  <% else %>
    <%= link_to '入室用QRコード', users_enter_page_path, class: "btn btn-secondary w-full" %>
  <% end %>
  <%= link_to 'ミニゲームはこちら', "https://minigame-for-kosensai2024-g581.vercel.app/", class: "btn btn-warning w-full" %>

</div>
