<div x-data="{ darkMode: false, menuOpen: false }" :class="{ 'dark': darkMode }" class="min-h-screen bg-white text-blue-900 px-4 py-6 md:px-8 md:py-8">

  <!-- ヘッダー -->
  <header class="flex justify-between items-center mb-8 md:mb-16">
    <h1 class="text-3xl md:text-5xl font-extrabold tracking-tight">
      電子工学科<span class="text-cyan-500">展示会</span>
    </h1>
  </header>

  <!-- ナビゲーション（大画面） -->
  <!-- アイコングリッド(アイコン画像は適当に追加してください) -->
  <div class="text-center mb-8">
    <h4 class="font-bold text-blue-800 text-lg md:text-xl">【1F 電子基礎実験室】</h4>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 max-w-full mx-auto">
    <!-- 展示カード1 -->
      <div
        class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
        <%= link_to static_pages_linetrace_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">1F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">ライントレース展示</h3>
            <p class="text-gray-600 mb-4 md:mb-6">実験実習で作成したライントレースカーの展示です!</p>
            <%= link_to "詳細を見る", static_pages_linetrace_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
        <% end %>
      </div>
    <!-- 展示カード2 -->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_led_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">1F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">LED装飾</h3>
            <p class="text-gray-600 mb-4 md:mb-6">テープLEDでいろんなところをカラフルにしました!</p>
            <%= link_to "詳細を見る", static_pages_led_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 展示カード3-->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_iot_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">1F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">IoT</h3>
            <p class="text-gray-600 mb-4 md:mb-6">Discordから様々なもの制御!</p>
            <%= link_to "詳細を見る", static_pages_iot_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 展示カード4-->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_dflab_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">1F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">DF Lab.活用</h3>
            <p class="text-gray-600 mb-4 md:mb-6">電子工学科の3Dプリンターで想像を形に!</p>
            <%= link_to "詳細を見る", static_pages_dflab_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 展示カード5 -->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_game_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">1F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">ゲームコーナー</h3>
            <p class="text-gray-600 mb-4 md:mb-6">ミニゲームから本格派まで!</p>
            <%= link_to "詳細を見る", static_pages_game_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <!-- カードセクション -->
  <div class="text-center my-8">
    <h4 class="font-bold text-blue-800 text-lg md:text-xl">【2F 電子制御実験室】</h4>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 max-w-full mx-auto">
    <!-- 展示カード1 -->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_ai_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">2F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">AI体験</h3>
            <p class="text-gray-600 mb-4 md:mb-6">最先端AIで空想の世界へ!</p>
            <%= link_to "詳細を見る", static_pages_ai_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 展示カード2 -->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_other_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">2F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">その他(個人製作)</h3>
            <p class="text-gray-600 mb-4 md:mb-6">クラスメイトの作品をお楽しみください!</p>
            <%= link_to "詳細を見る", static_pages_other_path, class: "block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <!-- カードセクション -->
  <div class="text-center my-8">
    <h4 class="font-bold text-blue-800 text-lg md:text-xl">【お手元のデバイスで動作】</h4>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 max-w-full mx-auto">
    <!-- 展示カード1 -->
    <div
      class="bg-white rounded-3xl p-0.5 shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition duration-300 ease-out">
      <%= link_to static_pages_ai_path, class: "" do %>
        <div class="rounded-[calc(1.5rem-2px)] overflow-hidden">
          <div class="relative w-full">
            <img src="assets/exhibition_image_1.jpg" alt="展示画像1"
                 class="w-full h-48 md:h-64 object-cover transform hover:scale-105 transition duration-500"/>
            <span
              class="absolute top-0 left-0 m-4 px-3 py-1.5 bg-orange-500 text-white text-sm font-bold tracking-wide rounded-lg shadow-md">2F</span>
          </div>
          <div class="px-4 py-4 md:px-6 md:py-6">
            <h3 class="text-blue-800 text-xl md:text-2xl lg:text-3xl font-bold mb-2">ミニゲーム</h3>
            <p class="text-gray-600 mb-4 md:mb-6">スマホでできるミニゲームを4つプレイできます!</p>
            <a href="https://minigame-for-kosensai2024-g581.vercel.app/" class="block text-center bg-gradient-to-br from-cyan-400 to-blue-500 text-white hover:from-cyan-500 hover:to-blue-600 font-bold text-sm md:text-base tracking-wide rounded-lg shadow-md hover:shadow-lg py-2 px-4 md:py-3 md:px-6 transition duration-300">
              プレイ
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>