<!DOCTYPE html>
<html data-theme="corporate">
<head>
  <title>電子工学科展示会</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- DaisyUI -->

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body class="min-h-screen flex flex-col">
<header class="navbar bg-primary text-primary-content shadow-lg">
  <div class="navbar-start">
    <%= link_to "電子工学科展示会", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="navbar-center hidden lg:flex">
  </div>
  <% if user_signed_in? %>
    <div class="navbar-end mx-8">
      <%= link_to current_user.name, users_path, class: "btn btn-ghost normal-case text-xl text-bold" %>
    </div>
  <% else %>
    <div class="navbar-end mx-2">
      <%= link_to "ログイン", user_session_path, class: "btn btn-ghost btn-xs normal-case" %>
      <%= link_to "新規登録", user_registration_path, class: "btn btn-ghost btn-xs normal-case" %>
    </div>
  <% end %>
</header>

<main class="container mx-auto p-6 mb-10 flex-grow">
  <%= yield %>
</main>

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <div class="flex justify-around">
    <div>
      <ul class="list-disc list-inside space-y-2">
        <li class="flex items-center">
          <a href="https://www.kobe-kosen.ac.jp/" target="_blank" class="link link-hover text-primary">神戸高専公式ページ</a>
        </li>
        <li class="flex items-center">
          <a href="https://www.kobe-kosen.ac.jp/groups/denshi/" target="_blank" class="link link-hover text-primary">電子工学科公式ページ</a>
        </li>
      </ul>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= button_to "ログアウト", destroy_user_session_path, class: "btn btn-error", method: :delete %>
      <% end %>
    </div>
  </div>
  <div>
    <p>&copy; 2024 Hayatann. All rights reserved.</p>
  </div>
</footer>
</body>
</html>